body {
  background-image: url( https://images.unsplash.com/photo-1520473378652-85d9c4aee6cf?auto=format&fit=crop&q=80&w=1829&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgb(15, 1, 13);
  background-size: cover;
  margin: 0;
  font-family:"DM Serif Display";
}

h1{
  color: rgb(246, 249, 248);
  text-align: left;
}
h2{
  color: white;
}
h3{
  color:white
}
nav{
text-align:right;

}
nav a {
  color: rgb(252, 249, 249);
  background-color: #011009;
  font-size: 32px;
  border:5px solid white;
  border-style: outset;
  text-decoration:none;
}
.my-photo img {
  height: 200px;
  text-align: right;
  border:solid rgb(24, 25, 26);
  border-width: 15px;
}